.icon{
    padding-right:5px ;
}
.link-article a{
    margin:0 15px 0 0;
}
.read_full_icon{
    margin:0 15px 0 5px;
}
.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}